{% extends "base.html" %}

{% block main %}
  <a href="{% url 'question-create' %}">Nieuwe vraag</a>
  <table border="1">
  {% for question in question_list %}
    <tr>
      <td>
        <a style="float: right; padding: 10px; border: 1px solid black" href="{% url 'question-upvote' pk=question.pk %}">^</a>
        <p><small>{{ question.user.get_full_name }}</small></p>
        <p>|
          {% for theme in question.themes.all %}
            {{ theme }} |
          {% endfor %}
        </p>
        <p><strong><a href="{% url 'question-detail' pk=question.pk %}">{{ question.summary }}</a></strong></p>
        <p>{{ question.full_text }}</p>
        <p>{{ question.user_support.count }}x geliked</p>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
